*{
    font-family: Calibri; 
}

.custom-background {
    background-color: #3b5d80;
}

.custom-blue {
    color: #3b5d80;
}

.custom-color {
    color: #b8d637;
}

.custom-font {
    font-family: Calibri;
}
